ANTHROPIC_API_KEY=la_api_key
GOOGLE_CLIENT_EMAIL=tu-cuenta-de-servicio@tu-proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GOOGLE_CALENDAR_ID=tu_calendario@group.calendar.google.com
